<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
    <p>I am a neuroimager having interests in typical and atypical brain development. My research focus has been advanced multimodal imaging on malformations of cortical development and now I seek myself to broaden my scope to other disorders such as Autism and ADHD. You can download my full CV <a href="#" target="_blank">here</a>. </p>
</div><!--//summary-->
</section><!--//section-->
