<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
    <p>I am a neuroimager having interests in typical and atypical brain development. My research focus has been advanced multimodal imaging on malformations of cortical development, and now I seek to broaden my scope to other disorders such as Autism and ADHD. Applying a rich array of structural and functional MRI and connectome markers, my overall research goal aims at comprehensive understanding of large-scale pathogeneic mechanisms of neurodevelopmental disorders and associating these macro-level knowledge to underlying genetic substrates. You can download my full CV <a href="#" target="_blank">here</a>. </p>
</div><!--//summary-->
</section><!--//section-->
