<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
    <p align="justfy">I am a neuroimager having interests in typical and atypical brain development. My research during PhD has focused on advanced multimodal imaging in malformations of cortical development. While still actively working on this topic, now as a postdoc I also seek to broaden my scope to other disorders such as Autism and ADHD. </p> 
    <p align="justfy">Applying a rich array of structural and functional MRI and connectome markers, my current studies aim at a comprehensive understanding of large-scale pathogeneic mechanisms related to neurodevelopment, together with systematic associations between imaging and underlying genetic data. </p>
</div><!--//summary-->
</section><!--//section-->
<!--My full CV is <a href="#" target="_blank">here</a>-->
