 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Neuroscience</h4>
    <h5 class="meta">McGill University</h5>
    <div class="time">2011 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Neuroscience</h4>
    <h5 class="meta">Seoul National University</h5>
    <div class="time">2008 - 2010</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Computer Science and Cognitive Science</h4>
    <h5 class="meta">Yonsei University</h5>
    <div class="time">2001 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->
