<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral fellow</h3>
                            <div class="time">2016.May - Present</div>
                        </div><!--//upper-row-->
                       <div class="bottom-row">
                            <div class="company">Multimodal Imaging Analysis and Connectome Laboratory (<a href="http://mica-mni.github.io" target="_blank">MICA</a>; PI: Dr. <a href="https://www.mcgill.ca/neuro/research/researchers/boris-bernhardt" target="_blank">Boris Bernhardt</a>)</div>
                            <div class="company">Neuroimaging of Epilepsy Laboratory (<a href="http://noel-mni.github.io" target="_blank">NOEL</a>; PI: Drs. <a href="https://www.mcgill.ca/neuro/research/researchers/bernasconi" target="_blank">Andrea</a> and <a href="https://www.mcgill.ca/neuro/research/researchers/ladbon-bernasconi" target="_blank">Neda Bernasconi</a>)</div>
                       </div><!--//bottom-row-->
                    </div><!--//meta-->
                    <h6 style="margin-bottom: 5px"></h6>
                    <div class="details">                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD, Integrated Program in Neuroscience</h3>
                            <div class="time">2011.Jan - 2016.May</div>
                        </div><!--//upper-row-->
                        <div class="company">McGill University (Thesis supervisor: Dr.<a href="https://www.mcgill.ca/neuro/research/researchers/bernasconi" target="_blank"> Andrea Bernasconi</a>)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
