<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral fellow</h3>
                            <div class="time">2016.July - Present</div>
                        </div><!--//upper-row-->
                       <div class="bottom-row">
                            <div class="company">Multimodal Imaging Analysis and Connectome Laboratory (<a href="http://mica-mni.github.io" target="_blank">MICA</a>; PI: Dr. <a href="https://www.mcgill.ca/neuro/research/researchers/boris-bernhardt" target="_blank">Boris Bernhardt</a>)</div>
                            <div class="company">Neuroimaging of Epilepsy Laboratory (<a href="http://noel-mni.github.io" target="_blank">NOEL</a>; PI: Drs. <a href="https://www.mcgill.ca/neuro/research/researchers/bernasconi" target="_blank">Andrea</a> and <a href="https://www.mcgill.ca/neuro/research/researchers/ladbon-bernasconi" target="_blank">Neda Bernasconi</a>)</div>
                       </div><!--//bottom-row-->
                    </div><!--//meta-->
                    <h6 style="margin-bottom: 5px"></h6>
                    <div class="details">                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD   |   Integrated Program in Neuroscience</h3>
                            <div class="time">2011.Jan - 2016.May</div>
                        </div><!--//upper-row-->
                        <div class="company">McGill University, Montreal, Canada (Thesis supervisor: Dr.<a href="https://www.mcgill.ca/neuro/research/researchers/bernasconi" target="_blank"> Andrea Bernasconi</a>)</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MSc   |   Interdisciplinary Program in Neuroscience</h3>
                            <div class="time">2008.Mar - 2010.Feb</div>
                        </div><!--//upper-row-->
                        <div class="company">Seoul National University, Seoul, South Korea (Thesis supervisor: Dr.<a href="http://www.ibric.org/hanbitsa/treatise_index_for_author.php?idauthorid=4486" target="_blank"> Inkyoon Lyoo</a>)</div>
                    </div><!--//meta-->
                    <div class="details">                     
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BSc   |   Computer Science and Cognitive Science (double major)</h3>
                            <div class="time">2001.Feb - 2007.Aug</div>
                        </div><!--//upper-row-->
                        <div class="company">Yonsei University, Seoul, South Korea (Research advisor: Dr.<a href="https://vcc.yonsei.ac.kr/pi" target="_blank"> Sang-Chul Chong</a>)</div>
                    </div><!--//meta-->
                    <div class="details">                     
                    </div><!--//details-->                  
                </div><!--//item-->
                
            </section><!--//section-->
